<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
</head>
<body>
<div id="app">
    <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1" style="margin-left: 20px;" @click="refresh">看看吧</el-menu-item>
        <el-menu-item index="3" style="float: right;margin-right: 20px;" @click="loginVisible = true" >{{loginname}}</el-menu-item>
        <el-dialog title="登录" :visible.sync="loginVisible">
            <el-form :model="user">
                <el-form-item label="登录名" label-width="120px">
                    <el-input v-model="user.name" autocomplete="off" placeholder="请输入登录名" style="width: 80%;"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="loginVisible = false;login()">登录</el-button>
            </div>
        </el-dialog>
    </el-menu>
    <div style="width: 80%; margin-left: 10%; margin-bottom: 200px;">
        <el-tabs v-model="activeName" @tab-click="changeList">
            <el-tab-pane name="timeDimension">
                <span slot="label"><i class="el-icon-sort"></i> 按时间排序</span>
                <div style="height: 300px;overflow: auto;">
                    <el-col :span="24" v-for="(article, index) in articles" :key="index" style="margin-bottom: 10px;">
                        <div class="grid-content bg-purple-light">
                            <el-row :gutter="0">
                                <el-col :span="4">
                                    <div class="grid-content bg-purple">
                                        <el-row :gutter="0">
                                            <el-button type="primary" icon="el-icon-arrow-up" :disabled="article.voted"
                                                       class="level-arrow-up" @click="voteUp(index)">赞</el-button>
                                        </el-row>
                                        <el-row :gutter="0">
                                            <el-button type="primary" icon="el-icon-arrow-down" :disabled="article.voted"
                                                       class="level-arrow-down" @click="voteUp(index)">错</el-button>
                                        </el-row>
                                    </div>
                                </el-col>
                                <el-col :span="16">
                                    <div class="grid-content bg-purple">
                                        <el-row :gutter="2">
                                            {{article.title}}
                                        </el-row>
                                        <el-row style="font-size: 10px;">
                                            {{article.content}}
                                        </el-row>
                                    </div>
                                </el-col>
                                <el-col :span="4">
                                    <div class="grid-content bg-purple ">
                                        <el-badge class="item item-view" style="margin-left: 10px;">
                                            <el-button size="small">票({{article.votes}})</el-button>
                                        </el-badge>
                                        <el-badge :value="12" class="item item-view" style="margin-left: 10px;">
                                            <el-button size="small">评论</el-button>
                                        </el-badge>
                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-col>
                </div>
            </el-tab-pane>
            <el-tab-pane name="scoreDimension">
                <span slot="label"><i class="el-icon-sort"></i> 按热度排序</span>
                <div style="height: 300px;overflow: auto;">
                    <el-col :span="24" v-for="(article, index) in articles" :key="index" style="margin-bottom: 10px;">
                        <div class="grid-content bg-purple-light">
                            <el-row :gutter="0">
                                <el-col :span="4">
                                    <div class="grid-content bg-purple">
                                        <el-row :gutter="0">
                                            <el-button type="primary" icon="el-icon-arrow-up" :disabled="article.voted"
                                                       class="level-arrow-up" @click="voteUp(index)">赞</el-button>
                                        </el-row>
                                        <el-row :gutter="0">
                                            <el-button type="primary" icon="el-icon-arrow-down" :disabled="article.voted"
                                                       class="level-arrow-down" @click="voteUp(index)">错</el-button>
                                        </el-row>
                                    </div>
                                </el-col>
                                <el-col :span="16">
                                    <div class="grid-content bg-purple">
                                        <el-row :gutter="2">
                                            {{article.title}}
                                        </el-row>
                                        <el-row style="font-size: 10px;">
                                            {{article.content}}
                                        </el-row>
                                    </div>
                                </el-col>
                                <el-col :span="4">
                                    <div class="grid-content bg-purple ">
                                        <el-badge class="item item-view" style="margin-left: 10px;">
                                            <el-button size="small">票({{article.votes}})</el-button>
                                        </el-badge>
                                        <el-badge :value="12" class="item item-view" style="margin-left: 10px;">
                                            <el-button size="small">评论</el-button>
                                        </el-badge>
                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-col>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
    <div style="position: fixed; bottom: 0px;width: 100%;">
        <el-row :gutter="24">
            <el-col><div class="grid-content bg-purple-light article-post">
                <el-input
                        type="text"
                        autosize
                        placeholder="请输入标题"
                        v-model="pArticle.title">
                </el-input>
                <el-input
                        type="textarea"
                        :autosize="{ minRows: 3, maxRows: 3}"
                        placeholder="请输入内容"
                        v-model="pArticle.content">
                </el-input>
                <el-button type="danger" style="margin-top: 15px;" @click="postArticle">发布</el-button>
            </div></el-col>
        </el-row>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                loginVisible: false,
                baseUrl: 'http://localhost:8083',
                visible: false,
                activeName: 'timeDimension',
                articles: [],
                pArticle: {
                },
                user: {},
            }
        },
        created() {
            var self = this;
            self.getOrderTime();
        },
        computed: {
          loginname: function() {
              var self = this;
              if(self.user && self.user.name){
                  return self.user.name;
              } else {
                  return "登录";
              }
          }
        },
        methods: {
            login: function() {
                var self = this;
                axios.post(self.baseUrl + '/articles/login', self.user)
                    .then(function (response) {
                        var _user = response.data;
                        if(_user) {
                            self.user = _user;
                            ELEMENT.Message("登录成功");
                        } else {
                            ELEMENT.Message("发布失败");
                        }
                    })
                    .catch(function (error) {
                        ELEMENT.Message("发布失败");
                    });
            },
            getOrderTime: function () {
                var self = this;
                axios.post(self.baseUrl + '/articles/getOrderTime', self.user)
                    .then(function (response) {
                        var articlesVar = response.data;
                        if (articlesVar) {
                            self.articles = articlesVar;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getOrderScore: function () {
                var self = this;
                axios.post(self.baseUrl + '/articles/getOrderScore', self.user)
                    .then(function (response) {
                        var articlesVar = response.data;
                        if (articlesVar) {
                            self.articles = articlesVar;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            changeList: function (list) {
                var self = this;
                if (list && list.name === "timeDimension") {
                    self.getOrderTime();
                } else if (list && list.name === "scoreDimension") {
                    self.getOrderScore();
                }
            },
            postArticle: function () {
                var self = this;
                self.pArticle.name = self.user.name;
                axios.post(self.baseUrl + '/articles/post', self.pArticle)
                    .then(function (response) {
                        ELEMENT.Message(response.data);
                        self.refresh();
                    })
                    .catch(function (error) {
                        console.log(error);
                        ELEMENT.Message("发布失败");
                    });
            },
            refresh: function() {
                var self = this;
                if(self.activeName === 'timeDimension') {
                    self.getOrderTime();
                } else if(self.activeName === 'scoreDimension') {
                    self.getOrderScore();
                }
            },
            voteUp: function (index) {
                var self = this;
                axios.post(self.baseUrl + '/articles/vote/up', self.articles[index])
                    .then(function (response) {
                        ELEMENT.Message(response.data);
                        self.refresh();
                    })
                    .catch(function (error) {
                        console.log(error);
                        ELEMENT.Message("投票失败");
                    });
            },
            voteDown: function (index) {
                var self = this;
                axios.post(self.baseUrl + '/articles/vote/down', self.articles[index])
                    .then(function (response) {
                        ELEMENT.Message(response.data);
                        self.refresh();
                    })
                    .catch(function (error) {
                        console.log(error);
                        ELEMENT.Message("投票失败");
                    });
            }
        }
    })
</script>
<style>
    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #f2be7e;
    }

    .grid-content {
        min-height: 100px;
    }

    .level-arrow-up {
        margin-left: 15px;
        margin-top: 5px;
    }

    .level-arrow-down {
        margin-left: 15px;
        margin-top: 10px;
    }

    .item-view {
        margin-top: 30px;
        margin-left: 10px;
    }
    .article-post {
        text-align: center;
        padding: 15px;
        height: 170px;
    }
</style>
</html>